@{
    ViewData["Title"] = "Home Page";
}
@model Person

<div class="text-center">
    <h1 class="display-4"> Welcome <span class="text-info">@Model.Firstname</span> in kcal calkulator page </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
