@model Person
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5"> Welcome <span class="text-info">@Model.Firstname</span> in kcal calkulator page </h1>
    @if(!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
    {
         <h4 class="alert alert-danger w-50 mb-3 m-auto">@ViewData["ErrorMessage"]</h4>
    }
    <div class="border border-dark border-3 w-50 m-auto">
        <div class="hr-text mt-2 mb-2 fs-5">
            Last kcal days
        </div>
        <div class="border border-dark border-1 w-95 m-auto"></div>
        <div class="mt-2">
             @if(Model.KcalDays == null)
            {
                <p class="text-warning">There aren't any kcal days</p>
            }
            else
            {
                @foreach (var kcalDay in Model.KcalDays)
                {
                    <div class="row">
                        <div class="col-3 pl-0">
                            <a href='@Url.Action("KcalDay", "Home", new {id = kcalDay.ID})'><p class="text-info">@kcalDay.Date.ToString("yyyy-MM-dd")</p></a>
                        </div>
                        <div class="col-2">          
                            <p id="kcal">kcal: <span>@kcalDay?.ProductEntries.Select(pe => pe?.Product.Kcal).Sum()</span></p>
                        </div>
                         <div class="col-2">
                            <p id="protein">Protein: <span>@kcalDay?.ProductEntries.Select(pe => pe?.Product.Protein).Sum()</span></p>
                        </div>
                         <div class="col-2">
                            <p id="carbs">Carbs: <span>@kcalDay?.ProductEntries.Select(pe => pe?.Product.Carbohydrate).Sum()</span></p>
                        </div>
                        <div class="col-2">
                            <p id="fat">Fat: <span>@kcalDay?.ProductEntries.Select(pe => pe?.Product.Fat).Sum()</span></p>
                        </div>     
                    </div>
                    
                }
            }
        </div>
       
    </div>
</div>
