html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: dimgray;
  color: white;
}

.w-95{
  width: 95%;
}

#kcal{
  color: lightcoral;
}

#protein{
  color: lightblue;
}

#carbs{
  color: #ff00ff;
}

#fat{
  color: orange;
}