html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: dimgray;
  color: white;
}

.w-95{
  width: 95%;
}

.name{
  color: lightgreen;
}

.kcal{
  color: lightcoral;
}

.protein{
  color: lightblue;
}

.carbs{
  color: #ff00ff;
}

.fat{
  color: orange;
}

#productNameInput{
  color: green;
}

#productNameInput::placeholder{
  color: green;
}

#productKcalInput{
  color: lightcoral;
}

#productKcalInput::placeholder{
  color: lightcoral;
}

#productProteinInput{
  color: lightblue;
}
#productProteinInput::placeholder{
  color: lightblue;
}

#productCarbsInput{
  color: #ff00ff;
}
#productCarbsInput::placeholder{
  color: #ff00ff;
}

#productFatInput{
  color: orange;
}
#productFatInput::placeholder{
  color: orange;
}

p span{
  color: white;
}

#protein{
  color: lightblue;
}

#carbs{
  color: #ff00ff;
}

#fat{
  color: orange;
}

#kcalBackground{
  background-color: gray;
}